* {box-sizing: border-box!important;}

a {text-decoration: none;}

@media screen and (max-width: 600px) {
  .limit{
    width: 80%!important;
  }
  .limit-l{
    width: 90%!important;
  }
  nav a{
    font-size: 13px!important;
    margin: 3px!important;
    padding: 6px!important;
  }
}

#errMsg{
  background-color: #462424!important;
}

#DangerBut{
  background-color: #2a2d31!important;
}

#errBox{
  background-color: #c34255f5!important;
}

.unvis{
  display: none;
}

.inputErr{
  text-align: center;
  margin: 0 auto;
  margin-top: .1rem;
  width: 100%;
  height: 20px;
  background:#fd4d48d6;
}

#picOptions{
  left: -6.5rem!important;
}

.inputOk{
  text-align: center;
  margin: 0 auto;
  margin-top: .1rem;
  width: 100%;
  height: 20px;
  background: rgba(64, 139, 83, 0.84)!important;
}

.proInfo{
  height: 600px;
  overflow: hidden;
}

.alert{
  text-align: center;
  padding: .3rem!important;
  margin-bottom: 1rem!important;
}

#trigger-upload{
  margin-top: 5px;
}

#proPic{
  width: 250px;
  height: 250px;
}

.proFields{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 1rem;
  padding: .5rem;
  background-color: #949494;
  text-decoration: none;
  color: black;
}

#registrationForm{
  margin-top: 2rem;
}

.proFields:hover{
  text-decoration: none;
  color: black;
}

.proFieldsActive{
  background-color: #383b3e!important;
  color: whitesmoke!important;
}

.alert li {
  list-style-type:none
}

.limit-l{
  width: 500px;
}

body{
  font-family: 'Niramit', sans-serif;
}

.margTop{
  margin-top: 5rem;
}

.margButEx{
  margin-top: -5rem;
}

.margTopEx{
  margin-top: 10rem;
}

.fa-search{
  cursor: pointer;
}

.limit{
  width: 350px;
}

.wide{
  width: 100%;
  text-align: center;
}

/* Navigation Settings */
nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #d7d7d7;
}

nav a {
  padding: .8rem;
  margin: .3rem;
  color: black;
  text-transform: uppercase;
  border-radius: 50%;
}

.navActive{
  background: #8e8b8580;
}

nav a:hover {
  color: #8778ab;
  text-decoration: none;
}

.formCon{
margin-top: 7rem;
}
.formCon label{
margin-top: .5rem;
}

.inForm{
background-color: whitesmoke;
border-bottom: 2px solid green;
width: 350px;
padding: 2rem;
}

.regForm{
background-color: whitesmoke;
border-bottom: 2px solid green;
width: 90%;
padding: 2rem;
}

.formCon input{
border-radius: 0;
}

.center{
margin: 0 auto;
}

.inWide{
margin-top: 1rem;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.cntWide{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*for search bar*/
.abWide{
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 5rem;
}

#custom-search-input{
  width: 345px;
  margin: 0 auto;
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}
/*end*/

.cardText{
  color: white!important;
  margin-top: -1.5rem!important;
  font-size: 14px!important;
}

.cardText a:hover{
  color: #ffffff;
}


/*for showing users*/

.margTopMd{
  margin-top: 7rem;
}

.margBut2{
  margin-top: -2rem;
}

.card {
  display: inline-block;
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  height: 400px;
  text-align: center;
  padding: 0;
  margin: 0 -4px 0 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}


.imgHeight{
  height: 300px;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}

/*end*/

/*for uploading post pictures*/

.images {
  display: flex;
  flex-wrap:  wrap;
  margin-top: 20px;
}
.images .postImgHelper,
.images .pic {
  flex-basis: 31%;
  margin-bottom: 10px;
  border-radius: 4px;
}
.images .postImgHelper {
  width: 112px;
  height: 290px;
  background-size: cover;
  margin-right: 10px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.images .postImgHelper:nth-child(3n) {
  margin-right: 0;
}
.images .postImgHelper span {
  display: none;
  text-transform: capitalize;
  z-index: 2;
}
.images .postImgHelper::after {
  content: '';
  width: 100%;
  height: 100%;
  transition: opacity .1s ease-in;
  border-radius: 4px;
  opacity: 0;
  position: absolute;
}
.images .postImgHelper:hover::after {
  display: block;
  background-color: #000;
  opacity: .5;
}
.images .postImgHelper:hover span {
  display: block;
  color: #fff;
}
.images .pic {
  background-color: #F5F7FA;
  align-self: center;
  text-align: center;
  padding: 40px 0;
  text-transform: uppercase;
  color: #848EA1;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .images .postImgHelper,
  .images .pic {
    flex-basis: 100%;
    margin-right: 0;
  }
}

/*end*/

/*for alerts*/
.alertBox {
  z-index: 10;
  display: none;
  color: white;
  top: 20%;
  background-color: #1d2322f5;
  position: fixed;
  width: 300px;
  left: 50%;
  margin-left: -100px;
  padding: 6px 8px 8px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}
.alertBox button {
  color: white;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
  width: 80px;
  cursor: pointer;
}
.alertBox .yes {
  background-color: #bd0606;
}
.alertBox .no {
  background-color: #2b4f8e;
}
.alertBox .message {
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  background: #273a3a;
  border-radius: 5px;
}

#congBox{
  background-color: #47b15df5;
}

#congBox div, button{
  background: #255233;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  border-radius: 5px;
}

#congBox button{
  height: 2rem;
  color: whitesmoke;
}
/*end of alerts*/

#upPP{
  margin-top: 5px;
}

#chPL{
  margin-left: 1.4rem;
  cursor: pointer;
}