{{ template "header.gohtml" .}}
<br>

<div class="formCon">
    <div class="regForm center">

        <div class="wide">
            <h4>Blue Talk</h4>
        <p>this is a social media project in which user can log in, post their statuses send messages to
            each other and make groups to communicate easier.</p>
            <h5>Made By Reza Shoja</h5>
        </div>

    </div>
</div>
{{ template "footer.gohtml" .}}