<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu|Niramit" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/portfolio.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>{{ .Title }}</title>
</head>
<body>
    <nav>
        <a {{if eq .Title "Contact"}} class="navActive" {{end}} href="/contact">Contact</a>
        {{ if not .Username }}
        <a {{if eq .Title "About"}} class="navActive" {{end}} href="/about">About</a>
        {{end}}
        <a {{if eq .Title "Search"}} class="fa fa-search fa-lg navActive" {{else}} class="fa fa-search fa-lg" {{end}} href="/search"></a>
        {{ if .Username }}
        <a {{if or (eq .Title "Messages") (eq .Title "Direct")}} class="fa fa-envelope-open fa-lg navActive" {{else}} class="fa fa-envelope fa-lg" {{end}} href="/profile/{{.Username}}/messages"></a>
        {{end}}
        <a {{if eq .Title "Blue Talk"}} class="fa fa-home fa-lg navActive" {{else}} class="fa fa-home fa-lg" {{end}} href="/"></a>
        {{ if .Username }}
            <a {{if eq .Title "Make Post"}} class="fa fa-plus-circle fa-lg navActive" {{else}}class="fa fa-plus-circle fa-lg"{{end}} href="/profile/{{.Username}}/post"></a>
            <a {{if eq .Title .Username}} class="fa fa-user fa-lg navActive" {{else}}class="fa fa-user fa-lg"{{end}} href="/profile/{{.Username}}" ></a>
        {{if eq .Title .Username}}
            <a {{if eq .Title "Settings"}} class="fa fa-cog fa-lg navActive" {{else}}class="fa fa-cog fa-lg"{{end}} href="/profile/{{.Username}}/settings" ></a>
        {{end}}
        <div id="notiCon">
            <a id="noti" {{if eq .Title "Notifications"}} class="fa fa-inbox fa-lg navActive" {{else}}class="fa fa-inbox fa-lg"{{end}} href="/profile/{{.Username}}/notifications" ></a>
            <div id="notibubble" class="unvis">
                <a href="/profile/{{.Username}}/notifications">see more <span class="fa fa-arrow-right"></span></a>
                {{ $username := .Username}}
                {{ if .Notis }}
                <ul>
                    {{ range .Notis }}
                        {{ if eq .Condition "follow"}}
                            <li><a href="/user/{{ .RelatedUsername }}">{{ .RelatedUsername }}</a> has started following you</li>
                        {{else if eq .Condition "unfollow"}}
                            <li><a href="/user/{{ .RelatedUsername }}">{{ .RelatedUsername }}</a> un followed you</li>
                        {{else if eq .Condition "like"}}
                            <li><a href="/user/{{ .RelatedUsername }}">{{ .RelatedUsername }}</a> liked your <a href="/post/{{ .RelatedPostId }}">post</a> </li>
                        {{else if eq .Condition "comment"}}
                            <li><a href="/user/{{ .RelatedUsername }}">{{ .RelatedUsername }}</a> commented on your <a href="/post/{{ .RelatedPostId }}">post</a> </li>
                        {{else if eq .Condition "comTag"}}
                            <li><a href="/user/{{ .RelatedUsername }}">{{ .RelatedUsername }}</a>tagged your name to a <a href="/post/{{ .RelatedPostId }}">comment</a> </li>
                        {{else if eq .Condition "postTag"}}
                            <li><a href="/user/{{ .RelatedUsername }}">{{ .RelatedUsername }}</a>tagged your name to a <a href="/post/{{ .RelatedPostId }}">post</a> </li>
                        {{else if eq .Condition "msg"}}
                            <li><a href="/user/{{ .RelatedUsername }}">{{ .RelatedUsername }}</a>sent you a <a href="/profile/{{$username}}/messages/{{ .RelatedUsername }}">message</a> </li>
                        {{end}}
                    {{end}}
                </ul>
                {{else}}
                    <p>You Have No Notifications</p>
                {{end}}
            </div>
        </div>
        <a id="outSure" href="/out">Log Out</a>
        {{else}}
          <a {{if eq .Title "Log In"}} class="navActive" {{end}} href="/in">Log In</a>
          <a {{if eq .Title "Register"}} class="navActive" {{end}} href="/register">Register</a>
        {{end}}
    </nav>