{{ template "header.gohtml" .}}
{{if .Cong }}
  <div class="center alert alert-success margTop" role="alert">
      <h6>{{ .Cong }}</h6>
  </div>
{{ end }}

<div class="margTopMd">
    {{template "post" .}}
</div>
{{ template "footer.gohtml" .}}
